/********************************************/
/*  CRIA-WT CSS-Light Manuel Brand 474283   */
/********************************************/

body {
    background-color: #cbedf2;
}

/* page Header */
#headertxt {
    font-family: Verdana, Geneva, sans-serif;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 2px;
}

/* TODO: header resize
*/
header {
    width: 100%;
    background-color: #d0e4fe;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid gray;
}

/* content contains several boxes */
.content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

/* boxes */
.box, .box2 {
    box-sizing: content-box;
    background-color: #d0e4fe;
    border: 1px solid gray;
    height: 310px;
}

.box {
    flex-grow: 1;
    width: 400px;
}

.box2 {
    flex-grow: 2;
    width: 800px;
}

.boxText, .box2Text {
    font-family: sans-serif;
    font-size: 13px;
}

.boxText {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.box2Text {
    text-align: center;
}

/* images inside the boxes */
img {
    width: 75%;
    max-width: 300px;
    height: 55%;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    border: 10px solid yellow;
    box-shadow: 4px 4px 2px rgba(50, 50, 50, 0.75);
}

img:hover {
    border: 10px solid red;
}

/* table */
table, th, td {
    background-color: white;
    font-style: italic;
}

table {
    margin: 0 auto;
    box-shadow: 4px 4px 2px rgba(50, 50, 50, 0.75);
}
td {
    border: 1px solid black;
}

.zieMaandag {
    text-align: center;
}
